.indiv-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.see-all-doctors {
  margin-left: 2%;
}

.similiar-doctor-headline {
  border-bottom: 1px solid black;
  margin: 0 auto;
}


.found-doctor {
  justify-content: center;
  margin: 0 auto;
  height: 30%;
  width: 30%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}



@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .found-doctor {
      width: 70%;
    }
    .see-all-doctors {
      margin: 0 auto;
    }
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .found-doctor {
      width: 70%;
    }
    .see-all-doctors {
      margin: 0 auto;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .found-doctor {
      width: 70%;
    }
    .see-all-doctors {
      margin: 0 auto;
    }
  }