.similiar-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 50%;
  margin-left: 10%;
}

.button-style-similiar {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  margin-bottom: 5%;
  font-size: 1rem;
  border-radius: 5px;

}
.button-style-similiar a {
  text-decoration: none;
}

.similiar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  margin-right: 10%;
  margin-top: 2%;
}



@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .similiar-card {
      width: 50%;
    }
    .button-style-similiar {
      width: 80%;
      height: 70%;
    }
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .similiar-card {
      width: 50%;
    }
    .button-style-similiar {
      width: 80%;
      height: 70%;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .similiar-card {
      width: 50%;
    }
    .button-style-similiar {
      width: 80%;
      height: 70%;
    }
  }